@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  margin: 0;
  font-family: Vazirmatn, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  width: 8px;
  transition: all .4s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292524; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}