@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  margin: 0;
  font-family: Vazirmatn, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
